.header {
    height: 100vh;
    background-image: linear-gradient(
            to right bottom,
            rgba($color-shade-dark, 0.8),
            rgba($color-accent-dark, 0.8)
        ),
        url("../../assets/Computers.jpg");
    background-size: cover;
    background-position: top;
}

.title {
    @include centerContent;
    text-align: center;

    &__text {
        margin: 0;
        font-weight: 100;
        font-size: 10rem;
        color: $color-shade-light;
        text-transform: uppercase;
        border-bottom: 1px solid $color-shade-light;
    }

    &__pitch {
        font-weight: 400;
        text-transform: uppercase;
    }
}
