.title-container {
    height: 100vh;
    background-image: linear-gradient(
            to right bottom,
            rgba($color-shade-dark, 0.8),
            rgba($color-accent-dark, 0.8)
        ),
        url("../../assets/Computers.jpg");
    background-size: cover;
    background-position: top;
}

.title {
    margin: 0;
    @include centerContent;
    font-weight: 100;
    font-size: 10rem;
    color: $color-shade-light;
    text-transform: uppercase;
}
